*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/TestActivity
app/src/main/java/com/example/abela/marketspiral/TestActivity.java
app/src/main/res/layout/activity_test.xml
.idea/vcs.xml
